<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../head')%>
</head>
<body>
    <%-include('../header')%>
    <div class="container-fluid">
        <div class="row">
            <%-include('dashHead')%>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h3 class="text-center text-primary">Jobs</h3>
                    <hr>
                    <% imageData.forEach(image => { %>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card shadow rounded-5">
                                    <img id = 'imgId'src="../images/<%= image.name %>"  alt="">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= image.title %></h5>
                                        <p class="card-text">
                                            <%= image.desc%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    <%})%>
            </main>
        </div>
    </div>
</body>
</html>
