<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../head')%>
    <meta http-equiv="refresh" content="2">
</head>
<body>
    <%-include('../header')%>
    
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-4 col-lg-10 px-4">
                <!-- <h3 class="text-center text-primary">Candidates</h3> -->
                <hr class="text-primary">
                <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">License Code</th>
                        <th scope="col">Car Description</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% var key = 0 %>
                        <%userList.forEach(stud =>{%>
                            <tr>
                                <th scope="row"><%= ++key %></th>
                                <td><%= stud.name %> </td>
                                <td><%= stud.last %></td>
                                <td><%= stud.email %></td>
                                <td><input type="text"  value = '<%=stud.status%>' class="text-center text-primary" disabled = 'disabled'></td>
                            </tr>
                        <%})%>
    </tbody>
    </table>
    </div>
    </main>
    </div>
    </div>
</body>
</html>